#modal-qr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-qr.show {
    display: flex;
}

.qr-content {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    max-width: 90%;
}

.qr-content img {
    max-width: 100%;
    border-radius: 10px;
}